In [6]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\atul\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\atul\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\atul\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\atul\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\atul\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: cffi>=1.14 in c:\users\atul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\atul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\atul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\atul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\atul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\atul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\atul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\atul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\atul\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\atul\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\atul\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\atul\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [16]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time
time.sleep(5)

#Lets connect to the driver
driver=webdriver.Chrome(r"D:\chromedriver.exe")
time.sleep(3)

# Opening naukri.com from chrome browser
driver.get("https://www.naukri.com/")
time.sleep(5)

#Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

#Then click the searchbutton

search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()
time.sleep(5)
#Then scrape the data for the first 10 jobs results you get.
job_title=[]
job_location=[]
company_name=[]
expirence_required=[]

#scrapping job title from teh given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scrapping job location from teh given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scrapping company name from teh given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scrapping expirence required from teh given page
expirence_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in expirence_tags[0:10]:
    expirence=i.text
    expirence_required.append(expirence)
    
print(len(job_title),len(job_location),len(company_name),len(expirence_required))

#Finally create a dataframe of the scraped data.
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'company':company_name,'expirence':expirence_required})
df

10 10 10 10

,Title,location,company,expirence
0,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
1,Tech Data Analyst,"Hybrid - Bangalore/ Bengaluru, Karnataka, Gurg...",Wipro,3-6 Yrs
2,Data Analyst,"Bangalore/ Bengaluru, Karnataka",Artech,5-8 Yrs
3,Data Analyst,Bangalore/Bengaluru,Brunel,4-6 Yrs
4,Celonis & Salesforce Data Analyst,"Bangalore/Bengaluru, Chennai",Hitachi Energy,3-6 Yrs
5,Celonis & Salesforce Data Analyst,Bangalore/Bengaluru,Hitachi Ltd.,2-7 Yrs
6,Data Analyst,Hybrid - Bangalore/Bengaluru,HARMAN,3-5 Yrs
7,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
8,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
9,Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tata Consultancy Services (TCS),5-10 Yrs

In [17]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time
time.sleep(5)

#Lets connect to the driver
driver=webdriver.Chrome(r"D:\chromedriver.exe")
time.sleep(3)

# Opening naukri.com from chrome browser
driver.get("https://www.naukri.com/")
time.sleep(5)

#Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

#Then click the searchbutton

search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()
time.sleep(5)
#Then scrape the data for the first 10 jobs results you get.
job_title=[]
job_location=[]
company_name=[]

#scrapping job title from teh given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scrapping job location from teh given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scrapping company name from teh given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
print(len(job_title),len(job_location),len(company_name))

#Finally create a dataframe of the scraped data.
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'company':company_name})
df

10 10 10

,Title,location,company
0,Permanent Opportunity - Data Scientist(Snaplog...,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Deloitte
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
3,Staff Data Scientist,Bangalore/Bengaluru,Walmart
4,Data Scientist,"Bangalore/ Bengaluru, Karnataka",Tata Consultancy Services (TCS)
5,Hiring For Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Hyde...",Tata Consultancy Services (TCS)
6,Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Delhi / NC...",Infogain
7,Director/Senior Director - Data Science,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Axtria India
8,Manager/Senior Manager - Data Science,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Axtria India
9,Data Scientist,Bangalore/Bengaluru,Ericsson

In [25]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time
time.sleep(5)

#Lets connect to the driver
driver=webdriver.Chrome(r"D:\chromedriver.exe")
time.sleep(3)

# Opening naukri.com from chrome browser
driver.get("https://www.naukri.com/")
time.sleep(5)

#Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

#Then click the searchbutton

search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()
time.sleep(5)

# Click on the location filter "Delhi/NCR"
location_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
location_filter.click()
time.sleep(5)

# Click on the salary filter "3-6 lakhs"
salary_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary_filter.click()
time.sleep(5)

#Then scrape the data for the first 10 jobs results you get.
job_title=[]
job_location=[]
company_name=[]
expirence_required=[]

#scrapping job title from teh given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scrapping job location from teh given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scrapping company name from teh given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scrapping expirence required from teh given page
expirence_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in expirence_tags[0:10]:
    expirence=i.text
    expirence_required.append(expirence)
    
print(len(job_title),len(job_location),len(company_name),len(expirence_required))

#Finally create a dataframe of the scraped data.
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'company':company_name,'expirence':expirence_required})
df

10 10 10 10

,Title,location,company,expirence
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist,Noida,Jubilant Ingrevia Limited,3-8 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar,3-8 Yrs
5,Data Scientist,Delhi / NCR,Tata Consultancy Services (TCS),7-12 Yrs
6,Intern,Gurgaon/Gurugram,Tower Research Capital,0-1 Yrs
7,Lead Assistant Manager,Gurgaon/Gurugram,EXL,2-6 Yrs
8,Data Scientist,Noida,Innovaccer,2-4 Yrs
9,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs

In [76]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time
time.sleep(5)

#Lets connect to the driver
driver=webdriver.Chrome(r"D:\chromedriver.exe")
time.sleep(3)

# Opening naukri.com from chrome browser
driver.get("https://www.flipkart.com/")
time.sleep(5)

#Close the login window
search=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
search.click()
time.sleep(5)

#Enter “sunglasses” in the search field where “search for products, brands and more” is written

designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys("sunglasses")
time.sleep(5)

# Click on search
click_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
click_filter.click()
time.sleep(5)

brand_title=[]
product_description=[]
prise_tag=[]

#scrapping brand from the given page

for page in range(0,3):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        if len(brand_title) == 100:
            break
        brand_title.append(i.text)
    next_button=driver.find_elements(By.CLASS_NAME,'_1LKTO3')[-1]
    next_button.click()
    time.sleep(2)
    # Break the loop if we have scraped 100 brands
    
    
#scrapping product description from the given page
# Click on search
click_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
click_filter.click()
time.sleep(5)
for page in range(0,3):
    product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tags:
        if len(product_description) == 100:
            break
        product_description.append(i.text)
    next_button=driver.find_elements(By.CLASS_NAME,'_1LKTO3')[-1]
    next_button.click()
    time.sleep(2)
    
    
#scrapping company name from the given page    
# Click on search
click_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
click_filter.click()
time.sleep(5)
for page in range(0,3):
    prise_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prise_tags:
        if len(prise_tag) == 100:
            break
        prise_tag.append(i.text)
    next_button=driver.find_elements(By.CLASS_NAME,'_1LKTO3')[-1]
    next_button.click()
    time.sleep(2)
    

    
print(len(brand_title),len(product_description),len(prise_tag))

100 100 100

In [87]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time
time.sleep(5)

#Lets connect to the driver
driver=webdriver.Chrome(r"D:\chromedriver.exe")
time.sleep(3)

# Opening I Phone review from chrome browser
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")
time.sleep(5)

iphone_ratings=[]
iphone_reviewsummary=[]
iphone_fullreviews=[]

# scraping first 100 reviews
for page in range(0,15):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        if len(iphone_ratings) == 100:
            break
        iphone_ratings.append(i.text)
    driver.find_elements(By.CLASS_NAME,'_1LKTO3')[-1].click()
    time.sleep(5)
    
# scraping first 100 reviews
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")
time.sleep(5)
for page in range(0,15):
    review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in review_tags:
        if len(iphone_reviewsummary) == 100:
            break
        iphone_reviewsummary.append(i.text)
    driver.find_elements(By.CLASS_NAME,'_1LKTO3')[-1].click()
    time.sleep(5)
    
# scraping first 100 reviews
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")
time.sleep(5)
for page in range(0,15):
    fullreview_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in fullreview_tags:
        if len(iphone_fullreviews) == 100:
            break
        iphone_fullreviews.append(i.text)
    driver.find_elements(By.CLASS_NAME,'_1LKTO3')[-1].click()
    time.sleep(5)



print(len(iphone_ratings),len(iphone_reviewsummary),len(iphone_fullreviews))

100 100 100

In [88]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time
time.sleep(5)

#Lets connect to the driver
driver=webdriver.Chrome(r"D:\chromedriver.exe")
time.sleep(3)

# Opening I Phone review from chrome browser
driver.get("https://www.flipkart.com/")
time.sleep(5)

#Close the login window
search=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
search.click()
time.sleep(5)

#Enter “sneakers” in the search field where “search for products, brands and more” is written

designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys("sneakers")
time.sleep(5)

# Click on search
click_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
click_filter.click()
time.sleep(5)

brand_title=[]
product_description=[]
prise_tag=[]

#scrapping brand from the given page

for page in range(0,3):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        if len(brand_title) == 100:
            break
        brand_title.append(i.text)
    next_button=driver.find_elements(By.CLASS_NAME,'_1LKTO3')[-1]
    next_button.click()
    time.sleep(2)
    # Break the loop if we have scraped 100 brands
    
    
#scrapping product description from the given page
# Click on search
click_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
click_filter.click()
time.sleep(5)
for page in range(0,3):
    product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tags:
        if len(product_description) == 100:
            break
        product_description.append(i.text)
    next_button=driver.find_elements(By.CLASS_NAME,'_1LKTO3')[-1]
    next_button.click()
    time.sleep(2)
    
    
#scrapping company name from the given page    
# Click on search
click_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
click_filter.click()
time.sleep(5)
for page in range(0,3):
    prise_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prise_tags:
        if len(prise_tag) == 100:
            break
        prise_tag.append(i.text)
    next_button=driver.find_elements(By.CLASS_NAME,'_1LKTO3')[-1]
    next_button.click()
    time.sleep(2)
    

print(len(brand_title),len(product_description),len(prise_tag))

100 100 100